# Cache objects
packer_cache/

# Build objects
packer-output/
output-virtualbox-iso/
output-vmware-iso/

# For built boxes
vagrant/*/*.box

# For vagrant files
vagrant/*/.vagrant/*

# ISO images
iso/*
